<%= form_for(@user_view) do |f| %>
  <% if @user_view.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_view.errors.count, "error") %> prohibited this user_view from being saved:</h2>

      <ul>
      <% @user_view.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %><br />
    <%= f.text_field :index %>
  </div>
  <div class="field">
    <%= f.label :show %><br />
    <%= f.text_field :show %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
