<h1>Listing phoenixes</h1>
<%	 #the paginate html content is given by the below line %>
<%= will_paginate @phoenixes, :class => "apple_pagination" %>
  <% @phoenixes.each do |phoenix| %>
    <div style="border:1px solid #000000; margin:10px;padding:1px;width:100% ">
      <p>
        <h5>Fact: <%= phoenix.fact %><br/></h5>
        Content: <%= truncate(phoenix.content, :limit => 100) %><br/>
        Show Image: <%= link_to "Image","/assets/#{phoenix.image}" %><br/>
        Views: <%= phoenix.no_views %><br/>
        <%= link_to 'Show', user_show_path(phoenix.id) %><br/>
      </p>
    </div>
  <% end %>

<br/>

<br />

<%= will_paginate @phoenixes, :class => "apple_pagination" %>
