<%= form_for(@phoenix) do |f| %>
  <% if @phoenix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phoenix.errors.count, "error") %> prohibited this phoenix from being saved:</h2>

      <ul>
      <% @phoenix.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fact %><br />
    <%= f.text_field :fact %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :made_by %><br />
    <%= f.text_field :made_by %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :no_views %><br />
    <%= f.number_field :no_views %>
  </div>
  <div class="field">
    <%= f.label :last_seen %><br />
    <%= f.datetime_select :last_seen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
