
<div class="menu">
    <ul>
    
	    <li><%= link_to "Home",page_home_deep_path %></li>
    	    <li><%= link_to "Tech", page_tech_path%></li>
    	    <li><%= link_to "News", page_news_path%></li>
    	    <li><%= link_to "Facts", user_index_path%></li>
	    <li><%= link_to "Fun", page_fun_path%></li>
	    <li><%= link_to "AboutMe", page_aboutme_path%></li>
      <li>
        <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
            <% else %>
        <%= link_to "Login", new_user_session_path %>
            <% end %>
      </li>
	    <li><%#= link_to "Login", page_login_path %></li>

    </ul>
	</div>
