<%content_for :title do%>
News
<%end%>
<h4>Page#news</h4>
<p>Find me in app/views/page/news.html.erb</p>


<%= form_tag do%>
   <b> <%= field_set_tag "INFORMATION"	do  %> </b>
         <p>
           <%= label_tag "Name:" %>
           <%= text_field_tag 'name',@name, :size=>50 %>
         </p>
         <p>
           <%= label_tag 'email', "Email Address:" %>
           <%= email_field_tag 'email',@email,:placeholder=>"Enter the Email", :size=>50 %>
         </p>
         <p>
           <%= label_tag 'age',"Age:" %>
           <%= number_field_tag 'age',@age, :min=>18, :max=>100, :size=>50 %>
         </p>
         <p>
           <%= label_tag 'product', 'Product:' %>
           <%# Various ways to write a select Tag %>
           <%#= select_tag 'product', options_for_select([['Skiies','skiies'],['Mittens','mittens']],2) %>
           <%#= select_tag 'product', options_for_select(@products,params[:product]) #At the end parma[:product] is used to make the value sticky%>
           <%#= select_tag 'product', options_for_select(@products.map {|values|[values,values]}, params[:product]) %>
           <%= select_tag 'product',options_for_select(@products,params[:product])%>
         </p>

         <p>
           <h2>What would you like to have</h2><br/>
         <%= label_tag :food_salad, 'Salad'%>
            <%=	 radio_button_tag :food, :salad, @food=='salad' %><br/>
         <%= label_tag :food_main, 'Main'%>
         <%=	 radio_button_tag :food, :main, @food=='main' %><br/>
         <%= label_tag :food_dessert, 'Dessert'%>
         <%=	 radio_button_tag :food, :dessert, @food=='dessert' %>

         </p>
        <%= submit_tag "Submit the Question"%>
        <%end%>
<%end%>

  <% if params[:commit] !=nil %>
  <%= show_params%>
    <% end %>